pkgbase = core-lang
	pkgdesc = Core compiled systems programming language (LLVM backend)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/snitchbossdotcom/corelang
	arch = x86_64
	license = MIT
	provides = core
	conflicts = core
	depends = gcc
	depends = zlib
	depends = zstd
	depends = ncurses
	source = core-0.1.0-linux-x86_64.tar.gz::http://94.24.39.227/dl/core-0.1.0-linux-x86_64.tar.gz
	sha256sums = 97145174e30e6c1d47f7b6497d28c0c6f29d9cf26a6fa91319964d6c0f564425

pkgname = core-lang
